@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "_variables.scss";
@import "../css/app.css";

body {
  color: $primary;
  font-family: $font-family-sans-serif;
  background-color: $shadow;
}
